body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

#form-section {
  max-width: 500px;
  margin: auto;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

footer .btn-outline-dark {
  border-color: #343a40;
  color: #343a40;
}

footer .btn-outline-dark:hover {
  background-color: #343a40;
  color: #fff;
}
